name: JS build

on:
  workflow_call:
    inputs:
      mozc_sha:
        description: "Commit SHA of google/mozc"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-24.04
    env:
      EMSCRIPTEN_VERSION: '4.0.20'
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - uses: actions/checkout@v6
        with:
          submodules: recursive
          repository: google/mozc
          path: fcitx5-mozc/mozc
          ref: ${{ inputs.mozc_sha }}

      - uses: actions/checkout@v6
        with:
          repository: emscripten-core/emsdk
          path: emsdk

      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'

      - name: Install dependencies
        run: |
          sudo apt install -y ninja-build \
            gettext \
            marisa
          ./scripts/install-deps.sh js
          pip install dirhash

      - name: Install Fcitx5 dev package
        run: |
          wget https://github.com/fcitx-contrib/fcitx5-js/releases/download/latest/fcitx5-js-dev.tar.bz2
          tar xjf fcitx5-js-dev.tar.bz2 -C build/js/usr

      - name: Install emsdk
        working-directory: emsdk
        run: |
          ./emsdk install ${{ env.EMSCRIPTEN_VERSION }}
          ./emsdk activate ${{ env.EMSCRIPTEN_VERSION }}

      - name: Build
        run: |
          . emsdk/emsdk_env.sh
          git apply --directory=libime patches/libime.patch
          git apply --directory=fcitx5-chinese-addons patches/chinese-addons.patch
          git apply --directory=fcitx5-jyutping patches/jyutping.patch
          git apply --directory=fcitx5-rime patches/rime.log.patch
          git apply --directory=fcitx5-rime patches/rime.js.patch
          emcmake cmake -B build/js -G Ninja -DCMAKE_BUILD_TYPE=Release
          cmake --build build/js
          ./scripts/install.sh js

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: artifact-js
          path: |
            build/js/*.zip

      - name: Check validity
        run: |
          python scripts/check-shared-files.py build/js/*/usr/plugin/*.json

      - name: Setup tmate session
        if: ${{ failure() }}
        uses: mxschmitt/action-tmate@v3

  compare:
    needs: build
    if: ${{ github.ref != 'refs/heads/master' }}
    uses: ./.github/workflows/compare.yml
    with:
      platform: js

  test:
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - { os: ubuntu-24.04 }
          - { os: macos-26 }
          - { os: windows-2025 }
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24.x

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: artifact-js
          path: build/js

      - name: Install dependencies
        run: |
          curl -LO --output-dir cache https://github.com/fcitx/fcitx5-online/releases/download/latest/fcitx5-online.zip
          curl -LO --output-dir tests/rime https://github.com/rime/librime-predict/releases/download/data-1.0/predict.db
          unzip cache/fcitx5-online.zip
          npm i -g pnpm
          pnpm i
          npx playwright install
          npx playwright install-deps

      - name: Test
        run: pnpm run test --test-list-invert tests/${{ matrix.os }}.list

  release:
    needs: test
    if: ${{ github.ref == 'refs/heads/master' }}
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: artifact-js
          merge-multiple: true

      - name: Release
        uses: 'marvinpinto/action-automatic-releases@latest'
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: js
          prerelease: true
          title: "JS Build"
          files: |
            *.zip
